<!--templates/base.html-->
{ % load static % }
{ % load i18n % }

<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{ % static 'favicon.ico' % }">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/components/navs-tabs/">

    <style>
        .jumbotron {
            padding: 1rem;
            margin-top: 56px;
        }

        .form-check-inline {
            margin-right: 0rem;
        }

        .form-check-inline label {
            padding-right: 3rem;
        }
    </style>

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top " style="background-color: #19488c;">
        <span class=" navbar-brand mb-0 h1" style="color:#dde1e7 ">
            C.E.O. {% if DEBUG %} [Homologação] {% endif %}
        </span>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'home' %}" style="color:#dde1e7 ">Início <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{ url 'Tipo de Despesas' }" style="color:#dde1e7 ">Clientes</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color:#dde1e7 ">Tabelas Básicas</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01" style="background-color: #19488c;">
                        <a class="dropdown-item" href="{ % url 'pedidos' % }" style="color:#dde1e7 ">Unidades</a>
                        <a class="dropdown-item" href="{ % url 'notasfiscais' % }" style="color:#dde1e7 ">Despesas Agregadas</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="color:#dde1e7 ">Consultas</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01" style="background-color: #19488c;">
                        <a class="dropdown-item" href="{ % url 'Quadro Geral' % }"
                            style="color:#dde1e7 ">Quadro Geral </a>
                        <a class="dropdown-item" href="{ % url 'consulta_contas_receber' % }" style="color:#dde1e7 ">
                            Previsão de Pagamentos</a>
                        <a class="dropdown-item" href="{ % url 'consulta_pagamentos_confirmados' % }"
                            style="color:#dde1e7 ">Pagamentos Confirmados</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{ % url 'consulta_vendas' % }" style="color:#dde1e7 ">Vendas por
                            Mês/Ano </a>
                        <a class="dropdown-item" href="{ % url 'consulta_produtos_disponiveis' % }"
                            style="color:#dde1e7 ">Créditos Disponíveis</a>
                        <!--<a class="dropdown-item" href="{  % url 'consulta_produtos' %  }" style="color:#dde1e7 ">Produtos</a>-->

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{ % url 'consulta_contaspagar' % }" style="color:#dde1e7 ">Contas a
                            Pagar por Mês/Ano </a>
                        <a class="dropdown-item" href="{ % url 'consulta_saldonotafiscal' % }" style="color:#dde1e7 ">Notas
                            Fiscais com Saldo em Aberto</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{ % url 'consulta_fluxocaixa' % }" style="color:#dde1e7 ">Fluxo de
                            Caixa </a>
                        <a class="dropdown-item" href="{ % url 'consulta_movimentomensal' % }"
                            style="color:#dde1e7 ">Movimento Mensal de Caixa e Mercadorias </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'about' %}" style="color:#dde1e7 ">Sobre</a>
                </li>

            </ul>
            {% if user.is_authenticated %}
            <span class="navbar-text" style="color:#dde1e7 "> Usuário: {{user.username}},
                <a class="navbar-text" href="{ % url 'logout' % }" style="color:#dde1e7 ">
                    Logout</a>
            </span>
            {% endif %}
        </div>
    </nav>

    {% block content %}

    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>